<h3>Introducing... Odyssey 30,000</h3>

<span style="font-style: italic; font-size: 12px; font-weight: bold;">
	Tell me, O Muse, of that ingenious hero who travelled far and wide...
</span>

<p>
	The colonies of Man settled long ago in the Aegean Cluster. The ancestors travelled the node lanes of the Cosmos, to find refuge from the dying star that consumed their ancient home of Terra. The exodites who survived the depths of the void arrived at the new colonies in small numbers. There they began rebuilding their civilization once more.   
</p>
<p>
	You begin your own <em>Odyssey</em>, as one of the freemen of the colonies, having claimed an extraordinary boon and acquired a star ship of your own with a full compliment of crew and a neophyte helmsman to lead them. A modest galley with nothing more than a solar sail to power it, it will not take you far from the colony of your birth but it is a start to a road of independence and glory should you have the courage to seek it.  
</p>
<p>
	The colonies cry out for goods and the nobility will pay well for your services. Wealth and adventure can secure the rewards of new vessels and perhaps your own property as a full citizen of the <em>politeia</em>. And the gods willing perhaps one day you may be a senator or governor of your own colony. 
</p>
<p>
	Is not your fate your own to make? <%=link_to "Challenge the Olympians", signup_path %> and find out. 
</p>